### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools = school_data['school_name'].count()
total_students = school_data_complete['Student ID'].count()
total_budget = "${:,.2f}".format(school_data['budget'].sum())
avg_math = school_data_complete['math_score'].mean()
avg_reading = school_data_complete['reading_score'].mean()
overall_passing_rate = (avg_math + avg_reading) / 2
percent_passing_math = (school_data_complete.loc[school_data_complete['math_score'] >= 70,'math_score'].count()/total_students) * 100
percent_passing_reading = (school_data_complete.loc[school_data_complete['reading_score'] >= 70,'reading_score'].count()/total_students) * 100
district_summary_df = pd.DataFrame([[total_schools,total_students,total_budget,avg_math,avg_reading,percent_passing_math,percent_passing_reading,overall_passing_rate]], columns=['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score','% Passing Math','%Passing Reading','% Overall Passing Rate'])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,%Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * y School Name
  * y School Type
  * y Total Students
  * y Total School Budget
  * y Per Student Budget
  * y Average Math Score
  * y Average Reading Score
  * y % Passing Math
  * y % Passing Reading
  * y Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
school_grouping = school_data_complete.groupby(['school_name'])
s_type = school_grouping['type'].first()
s_total_students = school_grouping.size()
s_total_budget = school_grouping['budget'].first()
s_total_psb = s_total_budget/s_total_students
s_avg_math = school_grouping['math_score'].mean()
s_avg_reading = school_grouping['reading_score'].mean()
s_overall_passing_rate = (s_avg_math + s_avg_reading) / 2
s_cnt_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
s_percent_passing_math = s_cnt_passing_math/s_total_students * 100
s_cnt_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
s_percent_passing_reading = s_cnt_passing_reading/s_total_students * 100
# put data into a tuple
school_summary = {
    'School Type' : s_type,
    'Total Students': s_total_students,
    'Total School Budget':s_total_budget,
    'Per Student Budget':s_total_psb,
    'Average Math Score':s_avg_math,
    'Average Reading Score':s_avg_reading,
    '% Passing Math':s_percent_passing_math,
    '% Passing Reading':s_percent_passing_reading,
    'Overall Passing Rate':s_overall_passing_rate}
school_summary_df = pd.DataFrame(school_summary)
school_summary_df['Total School Budget']= school_summary_df['Total School Budget'].map('${:,.2f}'.format)
school_summary_df['Per Student Budget']= school_summary_df['Per Student Budget'].map('${:,.2f}'.format)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,79.041198
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,83.518837
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,78.934893
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,78.924425
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,83.584128
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,79.112082
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,83.809133
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,78.906068
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,79.019429
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,83.942308
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,78.793698
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,83.542589
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,83.633639
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,83.631844
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,83.818611

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
school_summary_sort = school_summary_df.sort_values('Overall Passing Rate',ascending=False).head()
school_summary_sort

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
school_summary_sort = school_summary_df.sort_values('Overall Passing Rate',ascending=True).head()
school_summary_sort

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
msbg = pd.pivot_table(school_data_complete, index='school_name', columns='grade', values='math_score',aggfunc='mean')
msbg = msbg.reindex(['9th','10th','11th','12th'], axis=1)
msbg

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
rsbg = pd.pivot_table(school_data_complete, index='school_name', columns='grade', values='reading_score',aggfunc='mean')
rsbg = rsbg.reindex(['9th','10th','11th','12th'], axis=1)
rsbg

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.